<div class="navbar__title__container">
    <img src="images/logo.png" alt="HH" id="navbar__title__img">
    <h1 id="navbar__title"></h1>
</div>
<div class="navbar__container">
    <ul class="navbar__menu">
        <li class="navbar__item">
            <a href="./" class="navbar__link">/home</a>
        </li>
        <li class="navbar__item">
            <a href="mailto:nedyah07@gmail.com" target="_blank" class="navbar__link">/email</a>
        </li>
        <li class="navbar__item">
            <a href="https://github.com/ImBubbles/Portfolio" target="_blank" class="navbar__link">/source</a>
        </li>
    </ul>
</div>