<li class="projects__list__item">
    <h1 class="projects__project__title"></h1>
    <p class="projects__project__tools">
        <strong>Tools</strong>
        <span class="projects__project__tools__list"></span>
    </p>
    <p class="projects__project__description"></p>

    <div class="projects__project__links">
        <a class="projects__project__github" target="_blank">
            <img src="images/github.png" alt="GitHub" class="projects__project__link__img">
        </a>
        <a class="projects__project__spigotmc" target="_blank">
            <img src="images/spigot.png" alt="SpigotMC" class="projects__project__link__img">
        </a>
    </div>
</li>