* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Kannada UI Medium", Serif;
    /*background: #d8d7d5;*/
    background-image: url("../images/background.webp");
}

/*
USE: https://www.canva.com/colors/color-palettes/makeshift-slumber/
 */

.spacer {
    -webkit-background-clip: text;
    padding: 0 5px;
}

.navbar {
    background: #050606;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2REM;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    max-width: 1300px;
    margin-left: auto;
}

.navbar__menu {
    background: #050606;
    display: flex;
    margin-right: auto;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    -webkit-background-clip: text;
    padding: 0 3px;
}

.navbar__link {
    -webkit-background-clip: text;
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    color: #f8efe4;
    padding: 10px 30px;
}

.navbar__link:hover {
    font-size: 1.6REM; /* Slightly increase size */
    opacity: 75%;
    text-decoration-line: underline;
}

.navbar__title__container {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2REM;
    margin-left: 50px;
    color: #f8efe4;
    background: #050606;
}

#navbar__title {
    -webkit-background-clip: text;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-weight: bold;
    font-size: 2REM;
}

#navbar__title__img {
    height: 60px;
    -webkit-background-clip: text;
    background: #050606;
}

.sections__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page__section {
    display: flex;
    margin: 10px 10px;
    flex-direction: column;
    padding: 1% 35%;
    border-radius: 15px;
    border: 2px solid #000;
    background-color: #cac796;
    background-image: none;
}

#self__image {
    display: flex;
    border-radius: 50%;
    border: 4px solid #000;
    margin: auto;
}

#socials__header {
    display: flex;
    justify-content: center;
    color: #081117;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 3px 4px 2px grey;
    -webkit-background-clip: text;
}

.socials__item {
    padding: 0 3px;
    -webkit-background-clip: text;
}

.socials__list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
    -webkit-background-clip: text;
}

.socials__image {
    height: 60px;
    -webkit-background-clip: text;
}

.socials__link {
    -webkit-background-clip: text;
}

.resume__list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: auto;
    padding: 2% 1%;
    -webkit-background-clip: text;
    border-radius: 15px;
    border: 2px solid #000;
    background: #d8d7d5;
}

.resume__item {
    -webkit-background-clip: text;
}

#resume__image {
    height: 50px;
    padding-left: 5px;
    -webkit-background-clip: text;
}

#resume__download {
    border: none;
    text-decoration: none;
    color: #081117;
    padding-right: 2px;
    -webkit-background-clip: text;
}

#resume__download:hover {
    cursor: pointer;
}

#resume__pdf {
    display: flex;
    margin: 1px 1px;
}